body{
    background-color:rgb(235, 235, 235);
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    --color: rgb(0, 193, 252);
    text-align: center;
    background-color:var(--color);
    height: 40px;
    padding: 20px;
    color: #fff;
}
p{
    margin-left: 20px;
}
.scoreMessage{
    width:25px;
    height: 15px;
    padding-top:3px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 1px;
    border-radius: 40px;
    background-color: rgb(252, 91, 27);
    margin-left:-5px;
    color:white;
    z-index: 10;
}

.dateofcreation{
    font-size: 12px;
    width:60px;
    text-align: right;
    color: gray;
}
.logo{
    width: 50px;
}

#container{
    display:flex;
    width:95%;
    margin-left: 50px;
    /*background-color: turquoise;*/
}

#InfoPerformer{
    position:-webkit-sticky;
    position: sticky;
    
    top: 200px;
    margin-top: 100px;
    height: 150px;
    width:45%;
    background-color: rgb(255, 255, 255);

}

#activityforum{
    width:50%;
}

.activity{
    position: relative;
    display:flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.plusbutton{
    border-radius: 40px;
    margin-top:auto;
    margin-bottom: auto;
 
    margin-right: 10px;
    height: 20px;
    width:20px;
    padding: 2px;
    padding-top: 0px;
    text-decoration: none;
    border:none;
    cursor: pointer;
    background-color: white;
    align-items: right;

    font-weight: bold;
    font-size: 14px;
}

.user{
    width:100px;
    text-align: right;
    margin-top:auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    
}

.insideMessage{
    
    --color: rgb(0, 193, 252);
    width:40%;
    border: 1px solid var(--color);

    text-align: center;
    margin-left:10px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #fff;
    font-size: 12px;}


#dateofcreation{
 color:rgb(97, 97, 97);

}


